.about {
  padding: 1rem;
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  margin-top: 2rem;
  max-width: 100%; 
  border-radius: 5px; 
  box-shadow: 2px 2px 2px 2px rgba(205, 202, 202, 0.834); 
}

.about a {
  color: #fff;
}

.about h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about ul {
  list-style-type: none;
  padding: 0;
}

.about li {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 1rem;
    max-width: 100%;
  }

  .about h2 {
    font-size: 1.5rem;
  }

  .about p, .about li {
    font-size: 1rem;
  }
}